#msg-box5-0 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-0 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-0 .mbr-article {
  color: #ffffff;
}
#msg-box5-2 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-2 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-2 .mbr-article {
  color: #ffffff;
}
#msg-box5-3 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-3 .mbr-article {
  color: #ffffff;
}
#msg-box5-4 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-4 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-4 .mbr-article {
  color: #ffffff;
}
#msg-box5-5 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-5 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-5 .mbr-article {
  color: #ffffff;
}
#msg-box5-6 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-6 .mbr-article {
  color: #ffffff;
}
#msg-box5-7 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-7 .mbr-article {
  color: #ffffff;
}
#msg-box5-8 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-8 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-8 .mbr-article {
  color: #ffffff;
}
#msg-box5-9 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-9 .mbr-article {
  color: #ffffff;
}
#msg-box5-b .mbr-header__text {
  color: #ffffff;
}
#msg-box5-b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-b .mbr-article {
  color: #ffffff;
}
#msg-box5-c .mbr-header__text {
  color: #ffffff;
}
#msg-box5-c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-c .mbr-article {
  color: #ffffff;
}
#msg-box5-a .mbr-header__text {
  color: #ffffff;
}
#msg-box5-a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-a .mbr-article {
  color: #ffffff;
}
#msg-box5-d .mbr-header__text {
  color: #ffffff;
}
#msg-box5-d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-d .mbr-article {
  color: #ffffff;
}
#msg-box5-e .mbr-header__text {
  color: #ffffff;
}
#msg-box5-e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-e .mbr-article {
  color: #ffffff;
}
#msg-box5-f .mbr-header__text {
  color: #ffffff;
}
#msg-box5-f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-f .mbr-article {
  color: #ffffff;
}
#msg-box5-h .mbr-header__text {
  color: #ffffff;
}
#msg-box5-h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-h .mbr-article {
  color: #ffffff;
}
#msg-box5-g .mbr-header__text {
  color: #ffffff;
}
#msg-box5-g .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-g .mbr-article {
  color: #ffffff;
}
#msg-box5-i .mbr-header__text {
  color: #ffffff;
}
#msg-box5-i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-i .mbr-article {
  color: #ffffff;
}
#msg-box5-k .mbr-header__text {
  color: #ffffff;
}
#msg-box5-k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-k .mbr-article {
  color: #ffffff;
}
#msg-box5-j .mbr-header__text {
  color: #ffffff;
}
#msg-box5-j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-j .mbr-article {
  color: #ffffff;
}
#msg-box5-l .mbr-header__text {
  color: #ffffff;
}
#msg-box5-l .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-l .mbr-article {
  color: #ffffff;
}
#msg-box5-m .mbr-header__text {
  color: #ffffff;
}
#msg-box5-m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-m .mbr-article {
  color: #ffffff;
}
#msg-box5-n .mbr-header__text {
  color: #ffffff;
}
#msg-box5-n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-n .mbr-article {
  color: #ffffff;
}
#msg-box5-o .mbr-header__text {
  color: #ffffff;
}
#msg-box5-o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-o .mbr-article {
  color: #ffffff;
}
#msg-box5-p .mbr-header__text {
  color: #ffffff;
}
#msg-box5-p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-p .mbr-article {
  color: #ffffff;
}
#msg-box5-r .mbr-header__text {
  color: #ffffff;
}
#msg-box5-r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-r .mbr-article {
  color: #ffffff;
}
#msg-box5-s .mbr-header__text {
  color: #ffffff;
}
#msg-box5-s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-s .mbr-article {
  color: #ffffff;
}
#msg-box5-t .mbr-header__text {
  color: #ffffff;
}
#msg-box5-t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-t .mbr-article {
  color: #ffffff;
}
#msg-box5-u .mbr-header__text {
  color: #ffffff;
}
#msg-box5-u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-u .mbr-article {
  color: #ffffff;
}
#msg-box5-v .mbr-header__text {
  color: #ffffff;
}
#msg-box5-v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-v .mbr-article {
  color: #ffffff;
}
#msg-box5-w .mbr-header__text {
  color: #ffffff;
}
#msg-box5-w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-w .mbr-article {
  color: #ffffff;
}
#msg-box5-x .mbr-header__text {
  color: #ffffff;
}
#msg-box5-x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-x .mbr-article {
  color: #ffffff;
}
#msg-box5-q .mbr-header__text {
  color: #ffffff;
}
#msg-box5-q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-q .mbr-article {
  color: #ffffff;
}
#msg-box5-y .mbr-header__text {
  color: #ffffff;
}
#msg-box5-y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-y .mbr-article {
  color: #ffffff;
}
#msg-box5-z .mbr-header__text {
  color: #ffffff;
}
#msg-box5-z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-z .mbr-article {
  color: #ffffff;
}
#msg-box5-10 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-10 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-10 .mbr-article {
  color: #ffffff;
}
